* {
  margin: 0;
  padding: 0;
}

:root {
  --colorPrimary_dark: teal;
  --colorPrimary_light: cadetblue;
  --colorSecondary_dark: indianred;
  --colorSecondary_light: salmon;
  --colorComplementary: antiquewhite;

  --transition-speed: 300ms;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.12);;
  height: 84px;
  padding: 0 5%;
}

.header__projectName{
  flex: 1 0 auto;
  text-align: center;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 3em;
}

.header__button {
  width: 125px;
}

.loginFrom {
  display: grid;
  grid-gap: 24px;
  margin: 40px auto;
  max-width: 450px;
  min-width: 300px;
  width: 90%;
}