.dialogScreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.dialogScreen__veil {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
}

.dialogWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    padding: 20px 24px;
}

.dialogHeader {
    
}

.illustration {
    position: relative;
    display: block;
}

.illustration__frame {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(white, transparent 25%),
        linear-gradient(-90deg, white, transparent 25%),
        linear-gradient(360deg, white, transparent 25%),
        linear-gradient(90deg, white, transparent 25%);
    margin-top: -1px;
    margin-left: -1px;
    height: 100%;
    width: 101%;
}

.illustration img {
    filter: sepia(1) hue-rotate(320deg) opacity(0.75);
    width: 100%;
}

.headerCaption {
    margin-top: -44px;
    opacity: 0.99;
    text-shadow: 0 0 1px #000;
}

.headerCaption__highlighted {
    color: var(--colorSecondary_dark);
    text-shadow: 0 0 5px #fff;

}

.dialogContent {
    font-size: 1.15em;
    padding: 32px 0 28px;
}

.dialogContent__message {
    line-height: 1.75em;
}

.dialogActions {
    display: flex;
    justify-content: flex-end;
}

.dialogActions__buttons{
    display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	grid-gap: 12px;
}

/*** deletw widh header ***/

.dialogHeaderDelete {

}

.dialogHeaderDelete .illustration {
    position: relative;
    display: block;
    width: 250px;
}

.dialogHeaderDelete .headerCaption {
    margin-left: 140px;
}

/*** grant wish ***/

.dialogHeaderGrant .illustration {
    position: relative;
    display: block;
    width: 292px;
}

.dialogHeaderGrant .headerCaption {
    margin-left: 140px;
}

/*** edit wish ***/

.dialogHeaderEdit {

}

.dialogHeaderEdit .illustration {
    width: 280px;
}

.dialogHeaderEdit .headerCaption {
    margin-left: 162px;
}
