.snackbar {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 12px 16px;
    z-index: 1;
}

.snackbar_success {
    background: bisque;
    border: 1px solid limegreen;
}

.snackbar_error {
    background:bisque;
    border: 1px solid darkred;
    color: darkred;
}

.snackbar__message {
    font-size: 0.875em;
}

.snackbar__action {
    background: none;
    border: none;
    color: darkred;
    font-size: 1.15em;
    margin-top: -1px;
    margin-left: 12px;
}